/*      @author         Bhagwat Shinde
        name            temperature_sensor.service
        Description     write battery parameters to the ram file /tmp/ambient_data
        date            09 May 2022
        How to use      Enable the service
*/

[unit]
Description= Temperature and humidity sensor service
StartLimitIntervalSec=30
StartLimitBurst=2


[Service]
ExecStart=/home/root/bhagwatws/TH_reading
Restart=on-failure

[Install]
WantedBy=multi-user.target
